@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
:root{
    /* change the values below to your chosen font(s) */
    --heading-font: "Bitter", Arial,sans-serif ;
    --paragraph-font: 'Roboto', Helvetica, sans-serif, monospace;
}

main section img {
    box-sizing: border-box;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #1B4965;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background:rgba(0, 0, 0, 0.5); ;
    display: grid;
   /* background-color: #62B6CB; */
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: center;
}
nav a{
    font-family: var(--paragraph-font);
    text-align: center;
    color:white;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #62B6CB;
    color: black;
}


article {
    max-width: 1000px;
    background-color:#62B6CB;
    padding: 30px;
}
article h1 {
    text-align: center;
}

article img {
    width: 200px;
    height: 150px; 
    float: right;
}



footer {
    background-color: #62B6CB;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    background-color: #62B6CB;
}

footer p {
    font-size: 1.2em;
}


footer p a {
    text-decoration: none;
    color: black;
}

footer p a:hover {
    text-decoration: underline;
}

footer .sociallinks img {
    padding-top: 15px;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

footer .sociallinks img:hover {
    opacity: .6;
    transform: scale(1.1);
}

figure {
    display: flex;
    flex-flow: row;
    border: thin #c0c0c0 solid;
    padding: 20px;

}
figcaption {
  background-color: #222;
  color: #fff;
  padding: 3px;
  text-align: center;
}

figure img {
    max-width: 220px;
    max-height: 150px;
}


/*Class Section*/

.hero {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 50px;
}

.hero article {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-img {
    width: 100%;
}

div h1, p{
    color: white;
}

.second-section-img {

    display: block;
    margin: 10px;
}

.logo {
    width: 80px;
}


.section-history, .section-adventure {
    text-align: center;
    background-color: #62B6CB;

}
.section-history h2 {
    padding-top: 20px;
}

.section-adventure h2 {
    padding-top: 20px;
}