@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,300;0,400;0,600;0,700;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
:root{
    /* change the values below to your chosen font(s) */
    --heading-font: "Bitter", Arial,sans-serif ;
    --paragraph-font: 'Roboto', Helvetica, sans-serif, monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #1B4965;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background:rgba(0, 0, 0, 0.5); ;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    margin-bottom: 30px;
}



.nav-header {
    display: flex;
    justify-content: space-around;
}
.nav-header a{
    font-family: var(--paragraph-font);
    color:white;
    text-decoration: none;
    padding: 35px;
}

.nav-header a:hover {
    background-color: #62B6CB;
    color: black;
}


footer {
    background-color: #62B6CB;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    
}

.copyright {
    font-size: 1.2em;
    margin-left: 10px;
    align-self: center;
    justify-self: center;
}


.site-plan {
    color: black;
    align-self: center;
    justify-self: center;
    grid-column: 2/3;
}

.site-plan a {
    font-size: 1.2em;
    text-decoration: none;
    color: black;
    font-family: var(--paragraph-font);
}
.site-plan:hover {
    text-decoration: underline;
}

.nav-footer img {
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.nav-footer img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.nav-footer {
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 10px;
}

.nav-footer a {
    padding: 10px;
}

figure {
    display: inline-block;
    padding: 20px;
    margin: 30px;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
}
figcaption {
  margin-top: 10px;  
  color: black;
  padding: 3px;
}

figure img {
    margin-top: 30px;
    max-width: 200px;
    max-height: 150px;
}

.hero-container {
    margin-bottom: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.hero-img {
    width: 100%;
}

.hero-child  {
    max-width: 1000px;
    background-color:#62B6CB;
    padding: 30px;
    color: black;
    position: absolute;
}
.hero-child  h1 {
    text-align: center;
    color: black;
}

.hero-child img {
    width: 200px;
    height: 150px; 
    float: right;
    margin-left: 30px;
}

.logo {
    width: 80px;
}

.section-history, .section-adventure {
    text-align: center;
    background-color: #62B6CB;

}

.section-adventure {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: 100px auto;
    
}


.section-adventure h2 {
    padding-top: 10px;
    grid-column: 1/6;
    margin: 10px;
}

.section-history {
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
    grid-template-rows: 75px auto;
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 30px;
}

.section-history h2 {
    padding-top: 10px;
    grid-column: 1/4;
    margin: 10px;
}

.history-img  {
    
    grid-column: 2/3;
    grid-row: 2;
    width: 250px;
    margin: 20px;
}   

.section-history-p {
    grid-column: 1/2;
    grid-row: 2;
}
.section-history-p2 {
    grid-column: 3/4;
    grid-row: 2;
}

.section-history-p, .section-history-p2 {
    margin: 30px;
}