* {
    border: 2px solid blue;
}
body {

    background-color: #FCA6C9;
}

.kindOfHeader {
    
    text-align: center;
}

.title {
    font-size: 2em;
}

.title:hover {
    background-color: black;
    color: white;
}

div.container {
    text-align: center;
}

ol.orderlist {
    font-weight:bold ;
    display: inline-block;
    text-align: left;
}

img {
    width: 15%;
    display: block;
    margin: 0 auto;
}

.president-speech {
    width: 20%;
    text-align: center;
    font-size: 3em;
    line-height: 1.5em;
    display: inline-block;
}

footer p {
    margin: 20px auto;
    font-size: 20px;
    text-align: center;
}