body {
    margin: 0;
}


.header img {
    width: 100%;
}


footer {
    background-color: #737373;
    margin: 0;
}
footer img {
    display: inline;
    margin: 150px;
    width: 15%;
    border: 15px solid #444444;
    border-radius: 60%;
}